asgiref==3.8.1
blinker==1.9.0
certifi==2025.4.26
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
Django==5.1.7
djangorestframework==3.16.0
Flask==3.1.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
pyjokes==0.8.3
pyttsx3==2.98
requests==2.32.3
sqlparse==0.5.3
tzdata==2025.1
urllib3==2.4.0
Werkzeug==3.1.3
Django
gunicorn
dj-database-url
psycopg2-binary
whitenoise
django-heroku
requests
